/* É uma declaração de independência para os elementos, dizendo: "Quando eu definir um tamanho, isso inclui tudo – borda e padding!" */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(180deg, #0e1112 0%, #00090e 100%);
}

.app-container {
  width: 1200px;
  max-width: 90%;
  margin: 56px auto;
  display: flex;
  gap: 28px;
  min-height: 100vh;
}

/* Configuração necessária para utilizar fonte local */
/* @font-face {
  font-family: "Seymour One", sans-serif;
  src: url(../../public/CedarvilleCursive.ttf);
  font-weight: 400;
} */

.main-content {
  flex-grow: 1;
}

a {
  color: #81fe88;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  text-decoration-line: underline;
}

a:visited {
  color: #81fe88;
}
